*{
    font-family: Arial;
}

body {
    margin: 0;
}

.header{
    margin: 0px 0px 0px 0px;
    border-bottom: 3px solid blue;
    background-color: #000;
}

.header .container a{
    color: aqua;
    text-decoration: none;
    cursor: pointer;
}
.header .container{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.header .container ul {
    width: 400px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.header .container h1 {
    color: aqua;
}

.header .container ul li a{
    color: yellow;
    text-decoration: none;
}

.container{
    display: flex;
    width: 80%;
    margin: auto;
    justify-self: center;
}

.boxes {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social .container .boxes{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner {
    background-image: url(assets/img/bg-jelly-fish-para_outras_pags.png);
}

.banner .container{
    justify-content: center;
    align-items: center;
    height: 470px;
}

.banner .container p {
    color: aliceblue;
    font-size: 36px;
    width: 280px;
}

.social {
    background-color: #e5e5e5;
    display: flex;
}

.social .container{
    justify-content: center;
    width: auto;
}

.box{
    width: auto;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box img {
    align-self: center;
    width: 100px;
}

.box p {
    text-align: center;
}

.footer {
    height: 60px;
    width: 100%;
    background-color: blue;
}

.footer .container .version{
    font-size: 12px;
    font-weight: 800;
}

.card {
    width: 30%;
    background-color: #e5e5e5;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    color: blue;
}

.card h2 {
    margin:0;
    font-size: 30px;
}

.formulario {
    display: flex;
    height: 90%;
    width: 80%;
    justify-content: space-between;
    flex-direction: column;
}

.formulario .campo span {
    font-size: 15px;
    font-weight: 800;
}

.formulario input {
    text-align: center;
    border: 2px solid;
    border-radius: 4px;
}

.campo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login .container{
    display: flex;
    justify-content: center;
    height: 470px;
}

.botao {
    cursor: pointer;
    border: 0;
    border-radius: 5px;
    font-weight: 504;
    font-size: 19px;
    color: crimson;
    background-color: chartreuse;
    width: 120px;
    height: 30px;
    align-self: center;
}
